{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Campus{% endblock %}

{% block body %}

    <div class="max-w-4xl lg:max-w-3xl mx-auto bg-white-transparent p-6 rounded-lg shadow-lg">
        <h1 class="text-3xl font-extrabold text-gray-800 mb-6 text-center">Modifier lieu</h1>

        {{ include('campus/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
{% endblock %}
